@import './config.scss';

body {
	background: linear-gradient(#CCCCCC, white);
	height: auto;
	margin-top: 2.5%;
}

#DashboardOffersBoard {
	width: 85%;
	margin: auto;
	margin-top: 3vh;
	background-color: white;
}

.DashboardFilterIcon {
	width: 5%;
	float: right;
	margin: 0.75%;
}

.DashboardOffersShow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    width: 100%;
}