body {
	background: linear-gradient(#CCCCCC, white);
}

#DashboardOffersBoard {
	width: 85%;
	margin: auto;
	margin-top: 3vh;
	background-color: white;
	min-height: 80vh;
}

.DashboardFilterIcon {
	width: 3%;
	position: relative;
	left: 48%;
	top: 5px;
}