@import './config.scss';

#Header {
	@include flxColCtr();
	width: 100vw;
	opacity: 0.9;
	position: sticky;
	top: 0;
	#NavBar, .headerTop {
		background-color: $color4;
	}

	#hamburgerMenu {
		&:hover {
			cursor: pointer;
		}
	}
}

#NavBar {
    margin-top: -3vh;
	width: 100%;
	height: 3vh;
	transition: all 0.2s ease-in-out;
	z-index: 9;
}

.headerTop {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.headerLi {
  display: inline-block;
}