@import './config.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  text-align: center;
}

body {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-X: hidden;
}

.MasterFontSet {
  color: white;
}

.SecondFontSet {
  color: $color2;
}

.ThirdFontSet {
  color: $color1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
